:root {
    --dark-blue: #2C6CBC;
    --secondary-color: #387BC6;
    --tertiary-color: #4389D0;
    --quaternary-color: #4F98DA;
    --quinary-color: #5AA6E3;
    --senary-color: #66B5ED;
    --light-blue: #71C3F7;
}